* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(./assets/fonts/Poppins-Bold.ttf);
  font-family: 'Poppins-Bold-Italic';
  src: url(./assets/fonts/Poppins-BoldItalic.ttf);
  font-family: 'Poppins-Extra-Bold';
  src: url(./assets/fonts/Poppins-ExtraBold.ttf);
  font-family: 'Poppins-Extra-Bold-Italic';
  src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
  font-family: 'Poppins-Italic';
  src: url(./assets/fonts/Poppins-Italic.ttf);
  font-family: 'Poppins-Regular';
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  font-family: 'Poppins-Regular', sans-serif;
  border: 1px solid black;
  width: 55%;
  height: 70vh;
  padding: 24px;
}

.input-section {
  height: 25%;
  padding: 0 1em;
  display: flex;
  justify-content: start;
}

.input-section label {
  font-size: 1em;
  margin: 0 0 5px 0;
}

.section {
  margin: 0 2em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.section input {
  padding: 10px 10px 10px 0.5em;
  height: 0em;
  width: 5em;
  height: 2em;
  font-size: 32px;
  border-radius: 0.2em;
  font-family: 'Poppins-Extra-Bold';
  font-weight: 700;
}

.section input::-webkit-outer-spin-button,
.section input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-section {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-section {
  height: 60%;
}

.first-line {
  border: 3px solid black;
  height: 1px;
  width: 90%;
}
