* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  border: 1px solid black;
  width: 55%;
  height: 70vh;
  padding: 24px;
}

.input-section {
  border: 3px solid red;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.button-section {
  height: 15%;
  border: 3px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-section {
  border: 3px solid blue;
  height: 60%;
}

.first-line {
  border: 3px solid black;
  height: 1px;
  width: 90%;
}
